[submodule "airflow"]
	path = airflow
	url = https://gitlab.com/personal2144607/infras/airflow.git
[submodule "github-runner"]
	path = github-runner
	url = git@gitlab.com:personal2144607/infras/github-runner.git
[submodule "sealed-secrets"]
	path = sealed-secrets
	url = git@gitlab.com:personal2144607/infras/sealed-secrets.git
[submodule "csi-driver-nfs"]
	path = csi-driver-nfs
	url = https://gitlab.com/personal2144607/infras/csi-driver-nfs
